*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, sans-serif;
    --50: #fefce8;
    --100: #fef9c3;
    --200: #fef08a;
    --300: #fde047;
    --400: #facc15;
    --500: #eab308;
    --900: #78350f;
    --950: #451a03;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    grid-template-rows: minmax(200px, 1fr) 5fr;

    min-height: 100vh;
    max-width: 100%;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    #search-form {
        display: flex;
        justify-content: center;
        align-items: center;

        #search-btn {
            border: none;
            background-color: transparent;
            cursor: pointer;

            img {
                height: 40px;
                width: 40px;
            }
        }

        #search {
            min-width: 80%;
            border-radius: 1rem;
            border: 1px solid var(--400);
            background-color: var(--200);
        }
    }

    .header__top-right {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 1rem;
    }

    #notifications-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    #notifications-btn>img {
        min-width: 40px;
        height: 40px;
    }

    .header__bottom-left {
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        padding-left: 2rem;
        align-self: center;
        display: flex;
        gap: 1rem;
    }

    .header__bottom-right {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        align-self: center;
        display: flex;
        gap: 1.5rem;

        button {
            border: 1px solid var(--500);
            border-radius: 0.3rem;
            background-color: var(--400);
            color: var(--950);
            cursor: pointer;
            padding: 0.5rem 1.3rem;
        }
    }
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    background-color: var(--500);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    align-items: start;
    gap: 2rem;

    .title {
        margin-top: 3rem;
        gap: 0.5rem;

        p {
            font-size: 1.5rem;
        }
    }

    .title,
    .main_menu-item,
    .bottom__item {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        cursor: pointer;
    }

    .main_menu-item,
    .bottom__item {
        gap: 1rem;
    }

    .main_menu {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .main_menu-item {
        display: flex;
    }

    .main_menu,
    .bottom {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .bottom {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: var(--50);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    padding-left: 1rem;

    .projects {
        grid-column: 1 / 2;
        grid-row: 1 / 3;

        h1 {
            grid-column: span;
            grid-row: 1 / 2;
            margin-bottom: 1rem;
        }

        .project-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 20px;

            .card {
                background-color: var(--200);
                height: 200px;
                border-radius: 0.5rem;
                padding: 2rem 1rem;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }
    }

    .announcements {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .trending {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .projects,
    .announcements,
    .trending {
        h1 {
            font-size: 1.5rem;
        }
    }
}